<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBANWORN</title>
     <!-- Favicon -->
     <link href="img/favicon.ico" rel="icon">

     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
 
     <!-- Font Awesome -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 
     <!-- Libraries Stylesheet -->
     <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
 
     <!-- Customized Bootstrap Stylesheet -->
     <link href="/styles/user.css" rel="stylesheet">
</head>
<body>

    <%- include('../partials/userHeader') %>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="index.html" class="text-dark">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0 text-primary">About</p>
        </div>
    </div>
</div>
<!-- Page Header End -->



<div class="container">
    <div class="row abtpge">
        <!-- Image Part -->
        <div class="col-12 col-md-5 imgpart d-flex justify-content-center">
            <img src="/images/about cover.jpg" class="img-fluid" alt="About cover">
        </div>
        <!-- Description Part -->
        <div class="col-12 col-md-7 desc mt-4 mt-md-0">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum aperiam excepturi sunt corrupti facere! Nam aspernatur culpa saepe impedit exercitationem, ut optio dignissimos rerum porro quo animi facilis molestiae repudiandae, a, iure reiciendis dolor. Laborum nemo alias corrupti quae est ex quo quis odio incidunt delectus praesentium sequi atque temporibus, optio nostrum accusamus quasi libero nesciunt porro labore! Laboriosam voluptate et assumenda inventore natus quam quaerat, nulla dolorem illo cum. Quae amet maxime beatae error assumenda explicabo velit repellat autem consectetur? Aliquid, eos nostrum? Itaque cumque, commodi earum officia porro laudantium obcaecati nemo temporibus saepe assumenda natus tenetur nisi dolorum.</p>
        </div>
    </div>
</div>


 

    <%- include('../partials/userFooter') %>


    <!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>


