<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/styles/account.css" />
    <link rel="stylesheet" href="/styles/user.css">

    <title>Ecommerce Website</title>
    
  </head>
  <body>

    <!--================ HEADER =================-->

    <%- include('../partials/userHeader') %>

    <main class="main">
        <!--=============== BREADCRUMB ===============-->
        <section class="breadcrumb">
          <ul class="breadcrumb__list flex container">
            <li><a href="index.html" class="breadcrumb__link">Home</a></li>
            <li><span class="breadcrumb__link">></span></li>
            <li><span class="breadcrumb__link">Account</span></li>
          </ul>
        </section>
    
        <!--=============== ACCOUNTS ===============-->
        <section class="accounts section--lg">
          <div class="accounts__container container grid">
            <div class="account__tabs">
               
              <p id="dashboard" class="account__tab " data-target="#dashboard">
                <i class="fi fi-rs-settings-sliders"></i> Profile
              </p>
           
              <p id="orders" class="account__tab" data-target="#orders">
                <i  class="fi fi-rs-shopping-bag"></i> Orders
              </p>
              <p id="updateProfile" class="account__tab  " data-target="#update-profile">
                <i class="fi fi-rs-user"></i> Update Profile
              </p>
              <p id="wallet" class="account__tab" data-target="#wallet">
                <i class="fi fi-rs-wallet"></i> Wallet
              </p>
              <p id="address" class="account__tab " data-target="#address">
                <i class="fi fi-rs-marker"></i> My Address
              </p>
              <p id="changePassword" class="account__tab active-tab" data-target="#change-password">
                <i class="fi fi-rs-settings-sliders"></i> Change Password
              </p>
              <p id="logout" class="account__tab"><i class="fi fi-rs-exit"></i> Logout</p>
            </div>
    

            <div class="tabs__content">
                
                <div class="tab__content" content id="change-password">
                    <h3 class="tab__header">Change Password</h3>
                    <div class="tab__body">
                      <form id="form" method="post" action="/changepassword" class="form grid">
                        <input
                        id="currentpassword"
                        name="currentpassword"
                          type="password"
                          placeholder="Current Password"
                          class="form__input"
                        />
                        <p id="currentpasswordErr" style="color: red;"></p>
                        <input
                        id="password"
                        name="password"
                          type="password"
                          placeholder="New Password"
                          class="form__input"
                        />
                        <p id="passwordErr" style="color: red;"></p>  
                        <input
                        id="conpassword"
                        name="conpassword"
                          type="password"
                          placeholder="Confirm Password"
                          class="form__input"
                        />
                        <p id="conpasswordErr" style="color: red;"></p>
                        <div class="form__btn">
                          <button type="submit" class="btn btn-success btn--md">Save</button>
                          <p id="statusMessage"></p>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
            </div>


            <%- include('../partials/userFooter') %>
        
          
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <!--=============== SWIPER JS ===============-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
      </body>
      </html>
    
    <script>
        document.getElementById('dashboard').addEventListener('click', function(){
            window.location.href = '/profile'
        })

        document.getElementById('orders').addEventListener('click', function(){
            window.location.href = '/orders'
        })

        document.getElementById('updateProfile').addEventListener('click', function(){
            window.location.href = '/updateprofile'
        })

        document.getElementById('wallet').addEventListener('click', function(){
            window.location.href = '/wallet'
        })

        document.getElementById('address').addEventListener('click', function(){
            window.location.href = '/address'
        })

        document.getElementById('changePassword').addEventListener('click', function(){
            window.location.href = '/changepassword'
        })

        document.getElementById('logout').addEventListener('click',function(){
      window.location.href = '/logout'
    })


        document.getElementById('form').addEventListener('submit', async function(e){

          e.preventDefault()

          const currentpassword = document.getElementById('currentpassword').value;
          const password = document.getElementById('password').value;
          const conpassword = document.getElementById('conpassword').value;

          let isValid = true;

          const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/; 

          document.getElementById('currentpasswordErr').textContent = ""
          document.getElementById('passwordErr').textContent = ""
          document.getElementById('conpasswordErr').textContent = ""
          

          if(!passwordPattern.test(password)){
            document.getElementById('passwordErr').textContent = "Password must be at least 8 characters long, with at least one uppercase letter, one lowercase letter, one number, and one special character.";
            setTimeout(()=>{
              passwordErr.textContent="";
            },5000)
            isValid = false;
          }
          if(password!== conpassword){
            document.getElementById('conpasswordErr').textContent = "Passwords do not match.";
            setTimeout(()=>{
              conpasswordErr.textContent="";
            },5000)
            isValid = false;
          }
          
          if(isValid){
            try {
              const response = await fetch('/changepassword',{
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  currentpassword,
                  password,
                  conpassword
                })
              })
              const data = await response.json()

              if(data.success){
                await Swal.fire({
          title: 'Success!',
          text: data.message,
          icon: 'success',
          confirmButtonColor: '#3085d6',
        });

                document.getElementById('form').reset()
              }else{
                await Swal.fire({
          title: 'Error!',
          text: data.message,
          icon: 'error',
          confirmButtonColor: '#d33',
        });
              }
            } catch (error) {
              console.error("An error occurred while changing password",eror);
              await Swal.fire({
        title: 'Error!',
        text: 'An unexpected error occurred. Please try again.',
        icon: 'error',
        confirmButtonColor: '#d33',
      });
            }
          }

        })
    </script>
